<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>TeamFlow - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    
<header>
    <h1 class="título">TeamFlow</h1>
</header>

<main>
    <div class="AreaLogin">
        <h2 class="h2"><u>Faça seu Login</u></h2>
        <br>
        <form method="POST" action="/login">
            <label for="email">Digite seu Email:</label>
            <br>
            <input type="text" id="email" name="email" style="width: 250px;" required>
            <br><br>

            <label for="senha">Digite sua Senha:</label>
            <br>
            <input type="password" id="senha" name="senha" style="width: 250px;" required>
            <br><br>

              <button type="submit">ENTRAR</button>

        </form>

        <p class="p1">Ainda não tem uma conta? <a href="/registro">Cadastre-Se</a></p>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        
    </div>
</main>

</body>
</html>